

- questions =@evaluation_set.evaluation_questions
%table.index_table.evaluation_results{:border => "0", :cellpadding => "0", :cellspacing => "0"}
  %thead
    %tr
      %th &nbsp;
      %th{ :class => @custom_sort.empty? ? "sorted-asc" : "" }
        = sort_link @evaluation_results, :title, :default_order => :asc

      - @result_rows[0].results.each_with_index do |r, i|

        - sort_val = "custom_sort_result_column[#{i}]"
        - if !@custom_sort.empty? and @custom_sort[:type] == :result_column and @custom_sort[:index] == i
          - next_sort_order = @custom_sort[:order] == :asc ? :desc : :asc
          - th_class = "sorted-#{@custom_sort[:order]}"
        - else 
          - next_sort_order = :desc
          - th_class = ""

        - th_class += r.evaluation_question.sub_question ? " sub_question" : ""

        %th{ :class => th_class }
          = sort_link @evaluation_results, sort_val, "##{r.evaluation_question.id}",
            :default_order =>  next_sort_order

      -# summary header
      - if !@custom_sort.empty? and @custom_sort[:type] == :by_summary 
        - next_sort_order = @custom_sort[:order] == :asc ? :desc : :asc
        - th_class = "sorted-#{@custom_sort[:order]}"
      - else 
        - next_sort_order = :desc
        - th_class = ""

      %th{ :class => "summary #{th_class}" }
        = sort_link @evaluation_results, "custom_sort_by_summary", "Summary",
            :default_order => next_sort_order

  %tbody
    - @result_rows.each do |row|
      %tr
        %td= row.bird.logo.nil? ? "" : image_tag( row.bird.logo.asset.url(:sq50) ) 
        %td
          %b= link_to row.bird.name, [:admin, row.bird]
          %br/
          = link_to "comments",                                                                                       comments_admin_evaluation_set_user_evaluations_path(@evaluation_set, :bird_id => row.bird.id), 
            :remote => true,                                                                              
            :style => "font-size:0.8em;"

        - row.results.each do |result|
          %td{:class => result.evaluation_question.sub_question ? "sub_question" : ""}
            - title = capture do 
              =result.evaluation_question.to_s
              %br/
              %b Yes:
              = result.yes_count
              %b No:
              = result.no_count
              %b N/A
              =result.na_count
              %br/
              %b Score
              =result.answer_score

            = link_to summary_admin_evaluation_set_user_evaluation_answers_path(@evaluation_set, 
                :evaluation_question_id => result.evaluation_question_id, :bird_id => row.bird.id ),
                :remote =>true  do
              .evaluation_result_pie.tooltip_trigger{  :title => title,
                :class => (result.evaluation_question.sub_question ? "sub_question" : ""),
                "data-blank-count"  => result.blank_count, 
                "data-na-comments"  => result.na_comments, 
                "data-na-count"     => result.na_count, 
                "data-no-comments"  => result.no_comments,
                "data-no-count"     => result.no_count, 
                "data-yes-comments" => result.yes_comments, 
                "data-yes-count"    => result.yes_count }

        %td{:class => "summary"}
          - title = capture do 
            ="Summary:"
            %br/
            %b Yes:
            = row.summary["yes_count"]
            %b No:
            = row.summary["no_count"]
            %b N/A
            = row.summary["na_count"]
            %br/
            %b Score
            =row.summary["score"]
          .evaluation_result_pie.tooltip_trigger{ :title => title,
            :class => "summary",
            "data-blank-count"  => row.summary["blank_count"], 
            "data-na-comments"  => 0, 
            "data-na-count"     => row.summary["na_count"], 
            "data-no-comments"  => 0,
            "data-no-count"     => row.summary["no_count"], 
            "data-yes-comments" => 0, 
            "data-yes-count"    => row.summary["yes_count"] }

#evaluation_result_details.user_evaluation_answers_summary.user_evaluations_comments

:javascript 


  $(".evaluation_result_pie").each(function(){
    var $elem = $(this)
    setTimeout( function(){
      draw_answers_pie.apply($elem,[
          $elem.data("yes-count"), 
          $elem.data("no-count"),
          $elem.data("na-count"),
          $elem.data("blank-count"),
          $elem.data("yes-comments"),
          $elem.data("no-comments"),
          $elem.data("na-comments"),
      ])
    }, 1);
  })

  $(".tooltip_trigger[title]").tooltip()



