

<% questions = evaluation_set.evaluation_questions %>

<table class="index_table evaluation_results" border="0" cellspacing="0" cellpadding="0" >
  <tbody>
    <% results.each do |row| %>
    <tr>
      <td><%= row.bird.logo.nil? ? "" : image_tag(row.bird.logo.asset.url(:sq50)); %></td>

      <td>
        <b><%= row.bird.name%></b><br/>
        <%= link_to "comments", 
          comments_admin_evaluation_set_user_evaluations_path(evaluation_set, :bird_id => row.bird.id),
          :remote => true,
          :style => "font-size:0.8em;" 
        %>

      </td>
      <% row.questions.each do |q| %>
        <td>
        <%= link_to summary_admin_evaluation_set_user_evaluation_answers_path(
              evaluation_set, :evaluation_question_id => q[:question].id, :bird_id => row.bird.id ),
              :remote =>true  do %>
          <div class="evaluation_result_pie tooltip_trigger " 
              title="<%= "#{q[:question].to_s}<br/>
                <b>Yes</b>: #{q[:yes_count]}, <b>No</b>: #{q[:no_count]}, <b>N/A</b>: #{q[:na_count]}" %>"
              data-yes-count="<%= q[:yes_count] %>"
              data-yes-comments="<%= q[:yes_comments] %>"
              data-no-count="<%= q[:no_count] %>" 
              data-no-comments="<%= q[:no_comments] %>"
              data-na-count="<%= q[:na_count] %>" 
              data-na-comments="<%= q[:na_comments] %>"
              data-blank-count="<%= q[:blank_count] %>" 
              ></div>
          <% end %>
        </div>
      <% end %>
    </tr>
    <%end%>
  </tbody>
</table>


<div id="evaluation_result_details" class="user_evaluation_answers_summary user_evaluations_comments">
 
</div>
